[Unit]
Description=HDHomerun Prime Encoder
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/network
ExecStart=/usr/bin/perl /opt/sagetv/hdhomerun/prime_encoder
ExecStop=/usr/bin/pkill -9 -f prime_encoder
Restart=no

[Install]
WantedBy=multi-user.target
